@page "/Users"
@using UserApp_Blazor.Domain.Entities
@using UserApp_Blazor.Web.Service.Services
@inject IUserService UserService
@inject NavigationManager NavigationManager

<h3>Users</h3>

<!-- Foydalanuvchilar ro'yxati -->
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>About</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Users != null && Users.Any())
            {
                @foreach (var user in Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.About</td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No users found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private IEnumerable<User> Users = Enumerable.Empty<User>();

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        Users = (await UserService.GetAllAsync());
    }


    private void EditUser(int userId)
    {
        //NavigationManager.NavigateTo($"/edit-user/{userId}");
    }

    private void DeleteUser(int userId)
    {
        // var user = Users.FirstOrDefault(u => u.Id == userId);
        // if (user != null)
        // {
        //     await UserService.DeleteAsync(userId);
        //     await LoadUsers();
        // }
    }
}